.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

main .section.highlight {
  padding: 96px 16px;
}

.highlight .columns h2 {
  color: #fff;
  font-family: Barlow;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
  margin: 40px 0 32px 0;
}

.highlight .columns p {
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.625rem;
  margin: 0 0 32px 0;
}

.highlight .columns p.button-container {
  margin: 0;
}

.highlight .columns p.button-container a {
  margin: 0;
  display: block;
  padding: 8px;
  text-align: center;
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: Inter;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

@media (width >= 992px) {
  .highlight .columns > div {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .highlight .columns > div > div {
    flex: unset;
    order: unset;
    width: 40%;
  }

  .highlight .columns > div > .columns-img-col {
    flex: unset;
    order: unset;
    width: 50%;
  }

  .highlight .columns p.button-container {
    width: fit-content;
  }

  main .section.highlight {
      padding: 0;
  }

  .highlight .columns-wrapper {
    padding: 0 88px;
  }

  .highlight .columns {
    padding: 80px 0;
  }

  .highlight .columns h2 {
    margin: 0 0 32px 0;
  }
}

/* Column Featured Section */

main .section.featured .columns-wrapper .columns  {
  > div {
    gap: 24px;

    > div {
      align-items: flex-start;
      background: #fff;
      border: 1px solid #e0e1e6;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      padding: 16px;
      width: auto;

      p, h3 {
        margin: 0;
      }

      h3 {
        font-family: Barlow;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
        color: #101820;
        padding-bottom: 8px;
      }

      p {
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        letter-spacing: .1px;
        line-height: 1.625rem;
        color: #212836;
      }
      p.button-container {
        height: 100%;
        align-items: center;
        display: flex;
        gap: 24px;
        justify-content: flex-start;
        width: 100%;

        a {
          margin: 0;
          background: transparent;
          border: 1px solid #0067b9;
          border-radius: 4px;
          padding: 8px;
          text-align: center;
          text-decoration: none;
          color: #0067b9;
          font-family: Inter;
          font-size: .875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.25rem;
        }
      }
    }
  }

}

main .section.featured .default-content-wrapper {
  h2 {
    color: #212836;
    font-family: Barlow;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
    margin-top: 0;
    margin-bottom: 24px;
  }

  p {
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.625rem;
    color: #212836;
    margin-top: 0px;
    margin-bottom: 32px;
  }
}

main .section.featured {
  padding: 48px 16px 96px;
}

@media (width >= 992px) {
  main .section.featured {
    padding: 48px 56px 104px;
  }
}

/* Section Top Footer */
.section.top-footer {
  background: #101820;
  color: #fff;
  padding: 32px 16px 36px;

  .columns {

    > div:first-child {
      align-items: flex-start;
    }

    img {
      width: auto;
    }

    > div > div {
      margin-top: 40px;

      h3, p {
        margin:0;
      }

      h3 {
        border-bottom: 1px #ffffff solid;
        padding-bottom: 16px;
        font-family: Inter;
        font-style: normal;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
        color: #fff;
      }

      p {
        padding-top: 16px;
        font-family: Inter;
        font-size: 1rem;
        line-height: 1.5;
      }

      p.button-container {
        padding-top: 0;

        a {
          background-color: #fff;
          border: 1px solid #fff;
          border-radius: 4px;
          color: #212836;
          display: inline-block;
          font-family: inherit;
          font-size: 14px;
          line-height: 20px;
          margin-top: 24px;
          margin-bottom: 52px;
          min-height: 40px;
          padding: 8px;
          text-align: center;
          width: 120px;
          white-space: normal;
        }
      }
    }

    > div > div.columns-img-col {
      margin-top: 0;
    }

    > div:nth-child(2) {

      div:nth-child(1) {
        display: flex;
        gap: 16px;

        p {
          padding-top: 0;

          a {
            color: white;
            text-decoration: underline;
          }
        }
      }

      div:nth-child(2) {
        display: flex;
        gap: 16px;
        margin-top: 24px;

        p {
          padding-top: 0;

          a {
            color: white;
            text-decoration: underline;
          }
        }
      }

      div {
        margin-top: 0;
      }

      div:nth-child(4) {
        display: flex;
        gap: 38px;
        margin-top: 52px;

        p {
          padding-top: 0;
        }
      }
    }

  }
}

@media (width >= 992px) {
  main .section.top-footer {
    padding: 56px 56px 42px 56px;
  }

  main .section.section.top-footer {
    .columns > div:nth-child(1) {
      justify-content: center;
      display: flex;
      padding-bottom: 56px;
    }
    .columns > div:nth-child(2) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 24px;
      padding-top: 16px;

      div {
        margin-top: 0;
        justify-content: flex-start;
      }

      div:nth-child(1) {
        grid-area: 1 / 2 / 2 / 3;
      }

      div:nth-child(2) {
        grid-area: 2 / 2 / 3 / 3;
      }

      div:nth-child(3) {
        grid-area: 1 / 3 / 2 / 5;
      }

      div:nth-child(4) {
        grid-area: 2 / 3 / 3 / 5;
      }
    }

    .columns > div > div {
      margin-top: 0;
    }
  }
}