.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

main .section.highlight {
  padding: 96px 16px;
}

.highlight .columns h2 {
  color: #fff;
  font-family: Barlow;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
  margin: 40px 0 32px 0;
}

.highlight .columns p {
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.625rem;
  margin: 0 0 32px 0;
}

.highlight .columns p.button-container {
  margin: 0;
}

.highlight .columns p.button-container a {
  margin: 0;
  display: block;
  padding: 8px;
  text-align: center;
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: Inter;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

@media (width >= 992px) {
  .highlight .columns > div {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .highlight .columns > div > div {
    flex: unset;
    order: unset;
    width: 40%;
  }

  .highlight .columns > div > .columns-img-col {
    flex: unset;
    order: unset;
    width: 50%;
  }

  .highlight .columns p.button-container {
    width: fit-content;
  }

  main .section.highlight {
      padding: 0;
  }

  .highlight .columns-wrapper {
    padding: 0 88px;
  }

  .highlight .columns {
    padding: 80px 0;
  }

  .highlight .columns h2 {
    margin: 0 0 32px 0;
  }
}

/* Column Featured Section */

main .section.featured .columns-wrapper .columns  {
  > div {
    gap: 24px;

    > div {
      align-items: flex-start;
      background: #fff;
      border: 1px solid #e0e1e6;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      padding: 16px;
      width: auto;

      p, h3 {
        margin: 0;
      }

      h3 {
        font-family: Barlow;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
        color: #101820;
        padding-bottom: 8px;
      }

      p {
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        letter-spacing: .1px;
        line-height: 1.625rem;
        color: #212836;
      }
      p.button-container {
        height: 100%;
        align-items: center;
        display: flex;
        gap: 24px;
        justify-content: flex-start;
        width: 100%;

        a {
          margin: 0;
          background: transparent;
          border: 1px solid #0067b9;
          border-radius: 4px;
          padding: 8px;
          text-align: center;
          text-decoration: none;
          color: #0067b9;
          font-family: Inter;
          font-size: .875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.25rem;
        }
      }
    }
  }

}

main .section.featured .default-content-wrapper {
  h2 {
    color: #212836;
    font-family: Barlow;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
    margin-top: 0;
    margin-bottom: 24px;
  }

  p {
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.625rem;
    color: #212836;
    margin-top: 0px;
    margin-bottom: 32px;
  }
}

main .section.featured {
  padding: 48px 16px 96px;
}

@media (width >= 992px) {
  main .section.featured {
    padding: 48px 56px 104px;
  }
}
